/* line 1, ../Proyecto Carrillo/scss/_links.scss */
a {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

/* line 9, ../Proyecto Carrillo/scss/_links.scss */
.Redes {
  text-align: right;
  display: inline-block;
  transition: 0.25s;
  transform: skewY(-25deg);
}

/* line 15, ../Proyecto Carrillo/scss/_links.scss */
.Redes a:hover {
  color: white;
}

/* line 20, ../Proyecto Carrillo/scss/_links.scss */
.Redes:hover {
  transform: scale(1.2);
  color: white;
  text-decoration: underline;
  transform: skew(-25deg);
  background-color: #0400ff;
  transition: .2s;
  transform: translate(20px, 0px);
}

/*estructura general*/
/* line 2, ../Proyecto Carrillo/scss/_estructura.scss */
.grid-container {
  background: radial-gradient(circle, #c4c0c0, white);
  display: grid;
  grid-template-rows: 1fr 0.1fr 1fr minmax(calc(1fr - 0.1fr - 1fr - 0.5fr), max-content) 0.5fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "section section" "footer footer";
}

/* line 9, ../Proyecto Carrillo/scss/_estructura.scss */
.grid-container header {
  grid-area: header;
}

/* line 13, ../Proyecto Carrillo/scss/_estructura.scss */
.grid-container section {
  grid-area: section;
}

/* line 17, ../Proyecto Carrillo/scss/_estructura.scss */
.grid-container footer {
  grid-area: footer;
}

/*parte responsive*/
@media only screen and (max-width: 780px) {
  /* line 24, ../Proyecto Carrillo/scss/_estructura.scss */
  .Menu_Responsive {
    display: inline-block;
    text-decoration: none;
    border: #0b5bf0 5px outset;
    background-color: #2bcc46;
    border-radius: 10px;
    box-shadow: 2PX 4px 15px 0 black;
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
  }
  /* line 35, ../Proyecto Carrillo/scss/_estructura.scss */
  .Menu_Responsive a {
    list-style-type: none;
    color: black;
    text-decoration: none;
  }
  /* line 40, ../Proyecto Carrillo/scss/_estructura.scss */
  .Menu_Responsive a:hover {
    color: white;
    text-decoration: underline;
  }
  /* line 47, ../Proyecto Carrillo/scss/_estructura.scss */
  .Menu_Responsive_Li {
    box-sizing: border-box;
    text-align: left;
    width: 30px;
    padding: 5px;
    list-style: none;
  }
  /* line 55, ../Proyecto Carrillo/scss/_estructura.scss */
  #Info {
    font-size: 1fr;
    margin-top: 50px;
  }
}

/* line 1, ../Proyecto Carrillo/scss/_clases.scss */
.Logo {
  max-width: 25rem;
  max-height: 25rem;
}

/* line 6, ../Proyecto Carrillo/scss/_clases.scss */
.palmares {
  background-color: #c4c0c0;
  border: solid 1px #000000;
  text-align: left;
  font-family: "Gentium Plus", serif;
}

/* line 12, ../Proyecto Carrillo/scss/_clases.scss */
.palmares:hover {
  transform: scale(1.2);
}

/* line 17, ../Proyecto Carrillo/scss/_clases.scss */
.Contenido {
  margin: 20px 40px 40px 20px;
  padding: 20px;
  font-size: 1rem;
  text-align: justify;
}

/* line 1, ../Proyecto Carrillo/scss/_id.scss */
#Info {
  margin: 50px 40px 20px 20px;
  font-size: 1rem;
  text-align: justify;
  display: block;
}

/* line 8, ../Proyecto Carrillo/scss/_id.scss */
#Formulario {
  margin: 30px 20px 20px 20px;
  padding: 20px;
  font-size: 1rem;
  text-align: justify;
  flex-direction: column;
}

/* line 15, ../Proyecto Carrillo/scss/_id.scss */
#Formulario div {
  margin: 10px;
  text-align: justify;
}

/* line 24, ../Proyecto Carrillo/scss/_id.scss */
#RM {
  color: white;
}

/*responsive*/
/*.menu {
        display: none;
    }
*/
/*grid*/
/* line 13, ../Proyecto Carrillo/scss/estilos.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 19, ../Proyecto Carrillo/scss/estilos.scss */
header {
  background-color: #c4c0c0;
}

/* line 23, ../Proyecto Carrillo/scss/estilos.scss */
footer {
  background-image: url(../assets/img/Fondo1.jpg);
  background-size: contain;
  margin: 30px;
  text-align: right;
  font-style: italic;
  margin-top: 50px;
}

/*# sourceMappingURL=estilos.css.map */