$color_1: rgb(0, 0, 0);
$color_2: rgb(255, 255, 255);
$color_3: rgb(238, 255, 0);
$font_family_1: 'Gentium Plus',
serif;
$background_color_1: rgb(43, 204, 70);
$background_color_2: rgb(196, 192, 192);
$background_color_3: rgb(41, 48, 145);