@import "./colores";
@import "./links";
@import "./estructura";
@import "./clases";
@import "./id";

/*responsive*/
/*.menu {
        display: none;
    }
*/
/*grid*/
* {
    padding: 0;
    margin: 0;
}


header {
    background-color: $background_color_2;
}

footer {
    background-image: url(../assets/img/Fondo1.jpg);
    background-size: contain;
    margin: 30px;
    text-align: right;
    font-style: italic;
    margin-top: 50px;
}